{
    "DISCORD_BOT_TOKEN": "",
    "DISCORD_BOT_STATUS_MESSAGE": "",
    "CHANNEL_JOIN_MESSAGE": "",
    "CHANNEL_LEAVE_MESSAGE": "",
    "IGNORED_CHANNELS_ID": [""],
    "IGNORED_USER_IDS": [""],
    "SEND_LOG_CHANNEL_ID": ""
}